<section class="nav">
        <div class="dropdown">
            <i class="fa fa-align-justify fa-2x" ng-click="dropdown()" aria-hidden="true"></i>
            <div id="myDropdown" class="dropdown-content">
                <a ng-click="logOut()">Log Out</a>
            </div>
        </div>
        <h2>GoalBank</h2>
</section>

<!-- add new goal categories -->
<div class="boo">
<section class="addGoal" ng-hide="hideCategories">
    <div class="column">
        <div class="inlineboi">
            <a id="back" ui-sref="profile({username: user.username})"><h1>&#9754; Back</h1></a>
            <h1>Add New Goal</h1>
        </div>
    </div>
        <div class="goalRow">
            <div class="column category">
            <img ng-click="showExercise()" src="../images/exercise.svg">
            <h1 ng-click="showExercise()">Exercise</h1>
            </div>
            <div class="column category">
                <img ng-click="showSaveMoney()" src="../images/$.svg">
                <h1 ng-click="showSaveMoney()">Save Money</h1>
            </div>
        </div>
        <div class="goalRow">
                <div class="column category">
                <img ng-click="showDiet()" src="../images/weight.svg">
                <h1 ng-click="showDiet()">Weight</h1>
                </div>
                <div class="column category">
                    <img ng-click="showSchool()" src="../images/school.svg">
                    <h1 ng-click="showSchool()">School</h1>
                </div>
            </div>
            <div class="goalRow">
                    <div class="column category">
                    <img ng-click="showQuitHabit()" src="../images/badhabit.svg">
                    <h1 ng-click="showQuitHabit()">Quit Habit</h1>
                    </div>
                    <div class="column category">
                        <img ng-click="showSaveMoney()" src="../images/starthabit.svg">
                        <h1 ng-click="showSaveMoney()">Start Habit</h1>
                    </div>
                </div>
    </section>
</div>

    <div class="goalsWrapper" ng-hide="hideExercise">
        <h1>Exercise Goal</h1>
        <div class="goalWrapper">
            <div class="goal">
                <div>
                    Goal:
                    <input type="text" ng-model="goal.goal" placeholder="e.g. lift, run, yoga, etc">
                </div>
                <div>
                        Weekly Goal:
                        <select ng-model="goal.timesperweek">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                        times/week
                </div>
            </div>  
                <div class="goalInfoShow">
                    <div>
                        End Date:<input type="text" style="width:75px" ng-model="goal.numweeks" placeholder="number">
                        <select ng-model="goal.wom" ng-init="goal.wom = 'weeks'">
                                <option value="weeks">Weeks</option>
                                <option value="months">Months</option>
                        </select>
                    </div>
                    <div class="wager">
                        <h2>Wager</h2>
                        <div class="inlineboi">
                        <br><div>$
                        <input type="integer" style="width:75px" ng-model="goal.wager">/week
                            </div>
                        </div>
                    </div>
                    <div class="charityContainer">
                        <h2>Recipient</h2>
                        <div class="inlineboi">
                        <br><div>
                        <input id="charitySearch" type="text" style="width:100%" ng-model="goal.recipient" placeholder="i.e. St. Jude's, Am. Kidney Fund, etc.">
                        <div class="goalInfo charity" id="charity">
                        <div class="charityList" ng-repeat="charity in charities | filter:goal.recipient">
                            <div ng-click="fillCharity(charity)" >
                        {{charity}}
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                    <a type="button" ng-click="addGoal(goal)">Add Goal</a>
                </div>
        </div>
    </div>
    </div>
    
    <section class="goalsWrapper" ng-hide="hideSaveMoney">
        <h1>Save Money</h1>
        <div class="goalWrapper">
            <div class="goal">
        What are you saving money for?
        <input type="text" ng-model="goal.goal" placeholder="e.g. car, house, rainy day">
            </div>
            <div class="goalInfoShow">
                <div class="inlineboi" style="margin: 20px">
                    Total needed for {{goal.goal}}: $<input type="text" ng-model="goal.savings_goal">
                </div>
            <div class="inlineboi" style="margin: 20px">
                End date: <input type="number" ng-model="goal.endNum">
            <select ng-model="goal.endInc" ng-init="goal.endInc='months'">
                <option value="months">Months</option>
            </select>
            </div>
            <!-- <div class="inlineboi" style="margin: 20px"> -->
        <!-- Installments:
        <input type="text" ng-model="goal.installment"> per paycheck -->
            <!-- </div> -->
        <!-- <select ng-model="goal.installment_option">
                <option value="days">Day</option>
                <option value="weeks">Week</option>
                <option value="months">Month</option>
                <option value="2weeks">Paycheck</option>
        </select> -->
        <button type="button" ng-click="addSavingsGoal(goal)">Add Goal</button>
            </div>
        </div>
    </section>
    
            <div class="goalsWrapper" ng-hide="hideDiet">
                    <h1>Weight Goal</h1>
                    <div class="goalWrapper">
                        <div class="goal">
                            <div>
                                Current Weight:
                                <input type="text" ng-model="goal.curWeight" placeholder="">
                            </div>
                            <div>
                                Goal Weight:
                                <input type="text" ng-model="goal.goalWeight" placeholder="">
                            </div>
                        </div>
                            <div class="goalInfoShow">
                                <div>
                                    End Date:<input type="text" style="width:75px" ng-model="goal.numMonths" placeholder="number">
                                    Months
                                </div>
                                <div class="wager">
                                        <h2>Wager</h2>
                                        <!-- How often would you like to wager? -->
                                        <!-- <select ng-model="goal.wager_option" ng-init="goal.wager_option = 'week'">
                                            <option value="week">Weekly</option>
                                            <option value="month">Monthly</option>
                                            <option value="overall">One Time</option>
                                        </select> -->
                                        <div class="inlineboi">
                                        <br><div>$
                                        <input type="integer" style="width:75px" ng-model="goal.wager">
                                            </div>
                                    </div>
                                    </div>
                                    <div class="charityContainer">
                                            <h2>Recipient</h2>
                                            <div class="inlineboi">
                                            <br><div>
                                            <input id="charitySearch" type="text" style="width:100%" ng-model="goal.recipient" placeholder="i.e. St. Jude's, Am. Kidney Fund, etc.">
                                            <div class="goalInfo charity" id="charity">
                                            <div class="charityList" ng-repeat="charity in charities | filter:goal.recipient">
                                                <div ng-click="fillCharity(charity)" >
                                            {{charity}}
                                                </div>
                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                <a type="button" ng-click="addWeightGoal(goal)">Add Goal</a>
                            </div>
                    </div>
                </div>
            </div>
    </section>

    <div class="goalsWrapper" ng-hide="hideSchool">
            <h1>School Goal</h1>
            <div class="goalWrapper">
                <div class="goal">
                    <div>
                        Goal:
                        <input type="text" ng-model="goal.goal" placeholder="e.g. all A's, goal GPA, etc.">
                    </div>
                        <div>
                            End Date:<input type="date" ng-model="goal.end_date">
                        </div>
                </div>  
                    <div class="goalInfoShow">
                        <div class="wager">
                            <h2>Wager</h2>
                            <div class="inlineboi">
                            <br><div>$
                            <input type="integer" style="width:75px" ng-model="goal.wager">
                                </div>
                            </div>
                        </div>
                        <div class="charityContainer">
                            <h2>Recipient</h2>
                            <div class="inlineboi">
                            <br><div>
                            <input id="charitySearch" type="text" style="width:100%" ng-model="goal.recipient" placeholder="i.e. St. Jude's, Am. Kidney Fund, etc.">
                            <div class="goalInfo charity" id="charity">
                            <div class="charityList" ng-repeat="charity in charities | filter:goal.recipient">
                                <div ng-click="fillCharity(charity)" >
                            {{charity}}
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                        <a type="button" ng-click="addSchoolGoal(goal)">Add Goal</a>
                    </div>
            </div>
        </div>
        </div>
            
    <section >
            <div class="goalsWrapper" ng-hide="hideQuitHabit">
                    <h1>Quit Habit</h1>
                    <div class="goalWrapper">
                        <div class="goal">
                            <div>
                                Bad Habit:
                                <input type="text" ng-model="goal.goal" placeholder="e.g. smoking, alcohol, soda, biting nails">
                            </div>
                                <div>
                                    End Date:<input type="text" style="width:75px" ng-model="goal.numMonths" placeholder="number">Months
                                </div>
                        </div>  
                            <div class="goalInfoShow">
                                <div class="wager">
                                    <h2>Wager</h2>
                                    <div class="inlineboi">
                                    <br><div>$
                                    <input type="integer" style="width:75px" ng-model="goal.wager">/day
                                        </div>
                                    </div>
                                </div>
                                <div class="charityContainer">
                                    <h2>Recipient</h2>
                                    <div class="inlineboi">
                                    <br><div>
                                    <input id="charitySearch" type="text" style="width:100%" ng-model="goal.recipient" placeholder="i.e. St. Jude's, Am. Kidney Fund, etc.">
                                    <div class="goalInfo charity" id="charity">
                                    <div class="charityList" ng-repeat="charity in charities | filter:goal.recipient">
                                        <div ng-click="fillCharity(charity)" >
                                    {{charity}}
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                </div>
                                <a type="button" ng-click="addQuitHabitGoal(goal)">Add Goal</a>
                            </div>
                    </div>
                </div>
                </div>   
    </section>
    <!-- 
    <section ng-show="showStartHabit">
    </section>
    <input type="text" ng-model="goal.goal" placeholder="Goal">
    <input type="number" max="7" ng-model="goal.timesperweek" placeholder="How many times per week?">
    <input type="number" max="10000" ng-model="goal.wager" placeholder="Wager?">
    <button type="button" ng-click="addGoal(goal)">Add Goal</button>
    </section> -->
    <div class="footer">
            <div class-"inline">
                <a href="">Help</a>
                <a href="">FAQ</a>
                <a href="">Contact</a>
            </div>
            <div>
                Site by Frank Robenalt 2017
            </div>
            </div>