<section class="nav">
        <div class="dropdown">
            <i class="fa fa-align-justify fa-2x" ng-click="dropdown()" aria-hidden="true"></i>
            <div id="myDropdown" class="dropdown-content">
                <a ng-click="logOut()">Log Out</a>
            </div>
        </div>
        <h2>GoalBank</h2>
</section>

<!-- add new goal categories -->

<section class="addGoal" ng-hide="hideCategories">
    <div class="column">
        <div class="inlineboi">
            <a ui-sref="profile({username: user.username})">Back</a>
            <h1>Add New Goal</h1>
        </div>
    </div>
        <div class="goalRow">
            <div class="column category">
            <img ng-click="showExercise()" src="../images/exercise.gif">
            <a ng-click="showExercise()">Exercise</a>
            </div>
            <div class="column category">
                <img ng-click="showSaveMoney()" src="../images/$.gif">
                <a ng-click="showSaveMoney()">Save Money</a>
            </div>
        </div>
        <div class="goalRow">
                <div class="column category">
                <img ng-click="showExercise()" src="../images/weight.svg">
                <a ng-click="showExercise()">Weight</a>
                </div>
                <div class="column category">
                    <img ng-click="showSaveMoney()" src="../images/$.gif">
                    <a ng-click="showSaveMoney()">School</a>
                </div>
            </div>
            <div class="goalRow">
                    <div class="column category">
                    <img ng-click="showExercise()" src="../images/exercise.gif">
                    <a ng-click="showExercise()">Quit Habit</a>
                    </div>
                    <div class="column category">
                        <img ng-click="showSaveMoney()" src="../images/$.gif">
                        <a ng-click="showSaveMoney()">Start Habit</a>
                    </div>
                </div>
    </section>
    
    <section ng-hide="hideExercise">
    <div class="goalInput">
        <h2>Exercise Goal</h2>
        <div class="basicInfo">
            <div>
            Specific Goal:
            <input type="text" ng-model="goal.goal" placeholder="e.g. lift, run, yoga, etc">
            </div>
            <div>
            Weekly Goal:
            <select ng-model="goal.timesperweek">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
            times/week
            </div>
            <div>
            End Date:<input type="text" ng-model="goal.numweeks" placeholder="number">
            <select ng-model="goal.wom" ng-init="goal.wom = 'weeks'">
                    <option value="weeks">Weeks</option>
                    <option value="months">Months</option>
            </select>
            </div>
        </div>
        <div class="wager">
            <h2>Wager</h2>
            How often would you like to wager?
            <select ng-model="goal.wager_option" ng-init="goal.wager_option = 'week'">
                <option value="week">Weekly</option>
                <option value="month">Monthly</option>
                <option value="overall">One Time</option>
            </select>
            Wager:<br>$
            <input type="integer" ng-model="goal.wager">
        </div>
        <a type="button" ng-click="addGoal(goal)">Add Goal</a>
    </div>
    </section>
    
    <section ng-hide="hideSaveMoney">
        <h1>Save Money</h1>
        What are you saving money for?
        <input type="text" ng-model="goal.goal" placeholder="e.g. car, house, rainy day">
        <br>I need to save $<input type="number" ng-model="goal.savings_goal">
        <br>in <input type="number" ng-model="goal.endNum">
            <select ng-model="goal.endInc">
                <option value="weeks">Weeks</option>
                <option value="months">Months</option>
            </select>
        <br>Installments:
        <input type="number" ng-model="goal.installment_value" placeholder="{{}}"> per
        <select ng-model="goal.installment_option">
                <option value="days">Day</option>
                <option value="weeks">Week</option>
                <option value="months">Month</option>
                <option value="2weeks">Paycheck</option>
        </select>
        <button type="button" ng-click="addSavingsGoal(goal)">Add Goal</button>
    </section>
    
    <section ng-hide="hideDiet">
            
    </section>
            
    <section ng-hide="hideQuitHabit">
                    
    </section>
    <!-- 
    <section ng-show="showStartHabit">
    </section>
    <input type="text" ng-model="goal.goal" placeholder="Goal">
    <input type="number" max="7" ng-model="goal.timesperweek" placeholder="How many times per week?">
    <input type="number" max="10000" ng-model="goal.wager" placeholder="Wager?">
    <button type="button" ng-click="addGoal(goal)">Add Goal</button>
    </section> -->
    