<section class="nav">
        <div class="dropdown">
            <i class="fa fa-align-justify fa-2x" ng-click="dropdown()" aria-hidden="true"></i>
            <div id="myDropdown" class="dropdown-content">
                <a ng-click="logOut()">Log In</a>
            </div>
        </div>
        <h2>GoalBank</h2>
</section>

<!-- login/create profile info -->
<section>
    <div class="loginWrapper" ng-show="showLogin">
        <input id="username" type="text" ng-model="user.username" placeholder="username">
        <input id="password" type="password" ng-model="user.password" placeholder="password">
        <a ng-click="login(user)"class="login">Log In</a>
        <!-- Navigate to home view -->
        <div>Don't have an account? - 
        <a ng-click="showCreateProfile()">Create Profile</a>
        </div>
    </div>
</section>
        
<section class="loginWrapper" ng-show="showCreate">
    <h1>Create Profile</h1>
    <form>
    <input type="text" ng-model="user.username" placeholder="Create Username">
    <input type="text" ng-model="user.password" placeholder="password">
    <input type="text" ng-model="user.first_name" placeholder="First Name">
    <input type="text" ng-model="user.last_name" placeholder="Last Name">
    </form>
    <a type="submit" ng-click="createProfile(user)">Create Profile</a>
</section>
        
<div class="footer">
        <div class-"inline">
            <a href="">Help</a>
            <a href="">FAQ</a>
            <a href="">Contact</a>
        </div>
        <div>
            Site by Frank Robenalt 2017
        </div>
        </div>