
<section class="nav">
        <div class="dropdown">
            <i class="fa fa-align-justify fa-2x" ng-click="dropdown()" aria-hidden="true"></i>
            <div id="myDropdown" class="dropdown-content">
                <a ng-click="logOut()">Log Out</a>
            </div>
        </div>
        <h2>GoalBank</h2>
</section>

<!-- profile section -->

<section class="profileContainer"ng-show="showProfile">
    <div class="profileHeader">
        <h3>{{currentUser.first_name}}'s Goals</h3>
        <i class="fa fa-plus-square-o fa-2x" ng-click="hideCategories=false;showProfile=false"aria-hidden="true"></i>
    </div>
<!-- goals -->

<div class="goalsWrapper">
    <h1>Exercise</h1>
    <div class="goalWrapper" ng-repeat="goal in exerciseGoals track by goal.goalid">
        <div class="goal">
            <img class="statusImg" ng-src="{{goal.image}}">
            <div class="title">{{goal.goal}}</div> 
            <div ng-hide="goal.logged_today" class="logButtons">
                <img src="../images/check.gif" ng-click="updateProgress({goalid: goal.goalid, sof: true, value: 1})" >
                <img src="../images/x.gif" ng-click="updateProgress({goalid: goal.goalid, sof: false, value: 0})" >
            <!-- <i ng-click="updateProgress({goalid: goal.goalid, sof: true, value: 1})" class="fa fa-check" style="color:green" aria-hidden="true"></i> -->
            <!-- <i ng-click="updateProgress({goalid: goal.goalid, sof: false, value: 0})" class="fa fa-times" style="color:red" aria-hidden="true"></i> -->
            </div>
            <div class="status" ng-show="goal.logged_today">
                <p class="small">This week:</p>
                <p>{{goal.currentStatus}}</p>
            </div>
            <i ng-click="goalDropdown = true" ng-hide="goalDropdown" class="fa fa-chevron-down" aria-hidden="true"></i>         
            <i class="fa fa-chevron-up" ng-click="goalDropdown = false" ng-show="goalDropdown" aria-hidden="true"></i>        
        </div>
            <div class="goalInfo" ng-show="goalDropdown">
                    <span class="small">This week's logs</span>
                    <table class="cal" ng-hide="goal.no_cal">
                            <thead>
                                <tr>
                                    <th>Sun</th>
                                    <th>Mon</th>
                                    <th>Tues</th>
                                    <th>Wed</th>
                                    <th>Thurs</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                 <td id="day" ng-repeat="day in goal.log_data track by $index"><img ng-src='{{day}}'></td>
                                </tr>
                            </tbody>
                    </table>
                <div class="inline">
                    <div class="status">
                            <p class="small">This week:</p>
                            <p>{{goal.currentStatus}}</p>
                            <p>{{goal.wager_goal}}</p>
                    </div>
                    <div class="wager">
                    Wager: ${{goal.wager}}/{{goal.wager_option}}
                        <span class="timeLeft">
                            {{goal.time_left}}
                        </span>
                    </div>
                </div>
                <span class="small"><a ng-click="deleteGoal(goal.goalid)">Delete</a></span>                
            </div>
    </div>
</div>
</section>

<!-- add new goal categories -->

<section class="addGoal" ng-hide="hideCategories">
    <h1>Add New Goal</h1>
    <a ng-click="showExercise()">Exercise</a>
    <a ng-click="showSaveMoney()">Save $$</a>
</section>

<section ng-hide="hideExercise">
<div class="goalInput">
    <h2>Exercise Goal</h2>
    <div class="basicInfo">
        <div>
        Specific Goal:
        <span contenteditable="true">Excercise</span>
        <input type="text" ng-model="goal.goal" placeholder="e.g. lift, run, do yoga, etc">
        </div>
        <div>
        Weekly Goal:
        <input type="number" max="7" ng-model="goal.timesperweek"> times/week
        </div>
        <div>
        End Date:<input type="date" ng-model="goal.endDate">
        </div>
    </div>
    <div class="wager">
        <h2>Wager</h2>
        How often would you like to wager?
        <select ng-model="goal.wager_option">
            <option value="day">Daily</option>
            <option value="week">Weekly</option>
            <option value="month">Monthly</option>
            <option value="overall">After Completion</option>
        </select>
        Wager:<br>$
        <input type="number" ng-model="goal.wager">
    </div>
    <a type="button" ng-click="addGoal(goal)">Add Goal</a>
</div>
</section>

<section ng-hide="hideSaveMoney">
    <h1>Save Money Goal</h1>
    What are you saving money for?
    <input type="text" ng-model="goal.goal" placeholder="e.g. car, house, rainy day">
    <br>I need to save $<input type="number" ng-model="goal.totalSavings">
    <br>By <input type="date" ng-model="goal.end_date">
    <br>Installments:
    <input type="number" ng-model="goal.wager" placeholder="{{}}"> per
    <select ng-model="goal.wager_option">
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="paycheck">Paycheck</option>
            <option value="overall">Overall</option>
    </select>
    <button type="button" ng-click="addGoal(goal)">Add Goal</button>
</section>

<section ng-hide="hideDiet">
        
</section>
        
<section ng-hide="hideQuitHabit">
                
</section>
<!-- 
<section ng-show="showStartHabit">
</section>
<input type="text" ng-model="goal.goal" placeholder="Goal">
<input type="number" max="7" ng-model="goal.timesperweek" placeholder="How many times per week?">
<input type="number" max="10000" ng-model="goal.wager" placeholder="Wager?">
<button type="button" ng-click="addGoal(goal)">Add Goal</button>
</section> -->



