{{time}}
<!-- actual profile info -->
<section ng-show="showProfile">
    {{currentUser.first_name}}
    {{currentUser.last_name}}
<h2>Goals
<span>
    <button ng-click="hideCategories=false;showProfile=false">Add Goal</button>
    <button ng-click="logOut()">log out</button>
</span>
</h2>
<div ng-repeat="goal in goals">
    {{goal.goal}} {{goal.currentStatus}}
    <a ng-click="updateProgress({goalid: goal.goalid, value: 1})">{{goal.yes}}</a>
    <a ng-click="updateProgress({goalid: goal.goalid, value: 0})">{{goal.no}}</a>    
    <a ng-hide="showDetail" ng-click="showDetails(goal.goalid)">Details</a>
    <a ng-hide="hideDetail" ng-click="hideDetails(goal.goalid)">Details</a>
    <br>{{goal.status}} {{goal.wagerInfo}}
</div>
</section>


<section ng-hide="hideCategories">
    <h1>Add New Goal</h1>
    <a ng-click="showExercise()">Exercise</a>
    <a ng-click="showSaveMoney()">Save $$</a>
</section>

<section ng-hide="hideExercise">
<h1>Exercise Goal</h1>
What is your exercise goal?
<input type="text" ng-model="goal.goal" placeholder="e.g. lift, run, do yoga, etc">
<input type="number" ng-model="goal.timesperweek">Times/week
<br>End Date:<input type="date" ng-model="goal.endDate">
<br>How much are you wagering on this goal?<br>$
<input type="number" ng-model="goal.wager">
<select ng-model="goal.wager_option">
    <option value="day">Daily</option>
    <option value="week">Weekly</option>
    <option value="month">Monthly</option>
    <option value="overall">After Completion</option>
</select>
<button type="button" ng-click="addGoal(goal)">Add Goal</button>
</section>

<section ng-hide="hideSaveMoney">
    <h1>Save Money Goal</h1>
    What are you saving money for?
    <input type="text" ng-model="goal.goal" placeholder="e.g. car, house, rainy day">
    <br>I need to save $<input type="number" ng-model="goal.totalSavings">
    <br>By <input type="date" ng-model="goal.end_date">
    <br>Installments:
    <input type="number" ng-model="goal.wager" placeholder="{{}}"> per
    <select ng-model="goal.wager_option">
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="paycheck">Paycheck</option>
            <option value="overall">Overall</option>
    </select>
    <button type="button" ng-click="addGoal(goal)">Add Goal</button>
</section>

<section ng-hide="hideDiet">
        
</section>
        
<section ng-hide="hideQuitHabit">
                
</section>
<!-- 
<section ng-show="showStartHabit">
</section>
<input type="text" ng-model="goal.goal" placeholder="Goal">
<input type="number" max="7" ng-model="goal.timesperweek" placeholder="How many times per week?">
<input type="number" max="10000" ng-model="goal.wager" placeholder="Wager?">
<button type="button" ng-click="addGoal(goal)">Add Goal</button>
</section> -->



