* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #F2F2F2;
    margin-bottom: 150px;
    text-align: center;
}
div {
    box-sizing: border-box;
}

/* general */

button {
    background-color: #C7C7C7;
    height: 35px;
    margin: 20px;
    padding: 5px;
    border: none;
}

input {
    height: 45px;
    font-size: 1.25rem;
}

.title {
    align-self: center;
    padding: 5px;
    font-size: 1.5rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.column img {
    width: 100px;
}
.goalRow img {
    width: 400px;
}
/* .highlight {
} */
.small {
    font-size: 1rem;
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.border {
    border-left: .5px solid grey;
    border-top: .5px solid grey;
    border-right: .5px solid grey;
}
.smaller {
    font-size: .75rem;
    margin-right: 10px;
    margin-left: 10px;
}
.medium {
    font-size: 1.5rem;
    margin: 15px;
    text-align: center;
}
.large {
    font-size: 2rem;
}
.inlineboi {
    display: flex;
    align-items: center;
}
.inline {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    padding: 20px;
}

i {
    margin: 10px;
}


/* fonts

font-family: 'Raleway', sans-serif;
font-family: 'Lora', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Bangers', cursive;
font-family: 'Playball', cursive; */

/* login */

.loginWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.loginWrapper input {
    text-align: center;
    margin: 10px;
    width: 50%;
}

/* nav */

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #F2F2F2;
    background-color: rgb(46, 76, 49);
    height: 69px;
}
.nav h2 {
    margin: auto; 
    color: #F2F2F2;
    font-size: 2rem;
    padding-right: 30px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    /* position: fixed;
    right:0;
    bottom:0; */
    margin-top: 30px;
    background-color: #2E4C31;
    text-align: center;
    padding: 10px;
    color: white;
}
.footer a{
    margin: 15px;
    color: white;
}
.footer div{
    margin: 15px;
}

/* profile header */

.profileHeader {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content:;
    align-items: center;
}
h1 {
    margin: 30px;
    color: rgba(182, 182, 182, 0.76);
    font-size: 2rem;
    
}
.pad {
    padding-right: 120px;
}
.inlineback {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#back {
    float: left;
    /* position: fixed;
    top: 7.5%;
    left: 5%;
    text-decoration: none; */
}

#delete {
    height: 100px;
}
.deleteContainer {
    position: fixed;
    top:10%;
    right:2.5%;
    height: 110px;
    width: 110px;
}
#add {
    border-radius: 50%;
    width:50px;
    height:50px;
}
/*.addContainer {
    position: fixed;
    top:8%;
    right:11%;
    height: 110px;
    width: 110px;
} */
#add:hover {
    box-shadow: 0 0 25px rgba(33,33,33,.2);    
}

/* add goal */
.boo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addGoal {

    width: 80%;
}
/* button h1 {
    
} */
.createButtonWrapper {
    display: flex;
    justify-content: center;
}
.createButton {
    background-color: #2E4C31;
    margin: 20px;    
    width: 300px;
}
.createButton h1{
    font-size:1.5rem;
    color:white;
    margin: 10px;    
}
.button {
    background-color: #2E4C31;
    margin: 10px;    
    color:transparent;
}
.buttonFocus {
    background-color: #2E4C31;
    margin: 10px;   
    padding: 5px; 
    box-shadow:  0 0 25px rgba(33,33,33,.2);    
}
.button h1 {
    margin: 20px;
    font-size: 1.5rem;
}
.buttonFocus h1 {
    color:white;
    
    margin: 20px;
    font-size: 1.5rem;
}


/* modify goal */
.goalModalWrapper {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modifyDay {
    position: fixed;
    top: 33%;
    left: 37.5%;
    height: 33%;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.modifyDay h2 {
    margin-top: 15px;
}
.modifyDay div {
    margin: 10px;
}
.modalColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom {
    margin-bottom: 15px;
}

/* exercise */

.goalInput {
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}
.goalInput h2 {
    margin: 10px;
}
.basicInfo div{
    margin: 10px;
}
.goalRow {
    display: flex;
    justify-content: space-around;
}

.category {
    width: 35%;
    height: 30vh;
}


/* goals */

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statusImg {
    height: 45px;
    width: 45px;
}
.number {
    font-size: 2rem;
    margin: 5px;
}
.logButtons img{
    height: 45px;
    width: 45px;
}
.goalsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solidstyle color;
}
.goalWrapper {
    box-shadow: 0 0 15px rgba(33,33,33,.2);
    width: 800px;
    margin: 10px;
}
.goal {
    transition: box-shadow .3s;
    background-color: white;
    font-size: 1.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;    
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    height: 75px;
}
.changeToday {
    transition: box-shadow .3s;
    background-color: white;
    font-size: 1.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;    
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    height: 75px;
}
/* .goal:hover {
    box-shadow: 0 0 21px rgba(33,33,33,.2); 
} */

.wager {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.goalInfo {
    display: none;
    /* height: 0px; */
    /* opacity: 0; */
}
/* .transform {
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 1s;
} */
.goalInfoShow {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: fit-content;
    background-color: #FFFFFF;  
    box-sizing: border-box;
    padding: 10px; 
}
.charityContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.charity {
    border: .5px solid grey;
    text-align: center;
}
.charityList {
    padding: 10px;
    border-bottom: .5px solid grey;
}
.charityContainer input{
    width: 500px !important;
    text-align: center;
}

.calContainer {
    height: 700px;
    overflow: scroll;
}

table {
    text-align: center;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    width: 700px;
}
table img {
    width:65px;
    margin: auto;
}
td p {
    font-size: .8rem;
}
th {
    /* border-bottom: .1px solid black; */
    /* border-top: .1px solid black; */
}
th, td {
    padding: 10px;
    /* border-bottom: .1px solid black;     */
}
td img {
    border-radius: 50%;
}
td img:hover {
    box-shadow: 0 0 1em rgba(33, 33, 33, 0.69); 
}
embed {
    border-radius: 50%;
}
embed:hover {
    box-shadow: 0 0 1em rgba(33,33,33,.2);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
.show {display:block;}

@media (max-width : 1200px) {
    #delete {
        display: none;
    }
    .goalWrapper {
        box-shadow: 0 0 15px rgba(33,33,33,.2);
        width: 100%;
        margin: 10px;
    }
}
@media (max-width : 700px) {
    .status {
        font-size: .5rem;
    }
    .number {
        font-size: 1rem;
    }
    .inline {
        width: 100%;
    }
    table {
        text-align: center;
        -webkit-border-horizontal-spacing: 0px;
        -webkit-border-vertical-spacing: 0px;
        width: 100%;
    }
    table img {
        width:100%;
        margin: auto;
    }
    tr img {
        width: 100%;
        margin: auto;
    }
    td p {
        font-size: .8rem;
    }
    th {
        /* border-bottom: .1px solid black; */
        /* border-top: .1px solid black; */
    }
    th, td {
        padding: 10px;
        /* border-bottom: .1px solid black;     */
    }
    td img {
        border-radius: 50%;
    }
    td img:hover {
        box-shadow: 0 0 1em rgba(33, 33, 33, 0.69); 
    }
    .goalRow img {
        width: 300px;
    }
    .goalRow {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .goalRow img:hover {
        border-radius: 50%;   
    }
    .category {
        margin: 30px;
        width:100%;
        overflow: wrap;
    }
 
    #sko {
        display: none;
    }
    /* div {
        font-size: .5rem;
    } */
}
